#app {
  min-height: 100vh;
  overflow: hidden;
}

/* extra classes */
.gap-2 {
  gap: 0.5rem;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.text-900 {
  color: #fff;
}

.custom-success .p-tooltip-text,
.custom-error .p-tooltip-text {
  color: #151515;
  padding: 0.2rem 0.5rem;
}

.custom-success .p-tooltip-text {
  background: #9fdaa8;
  border: 1px solid #78cc86;
}

.custom-error .p-tooltip-text {
  background: #f7c1c1;
  border: 1px solid #f18e8e;
}
